body {
padding-top: 50px;
	background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


height: 100%;
width: 100%;
font-family: 'Roboto', sans-serif;
}
div{
    margin:40px auto;
    max-width:600px;
}
input {
	height: 40px;
	background: #111e6c;
	height:40px;
	line-height: 40px;
	color:white;
	width: 250px;
	border:none;
	border-radius: 10px;
	font-weight: 700;
}
td{
	padding:10px;
	font-weight: 700;
}

.male {
	width: 135px;
	height: 15px;
	font-weight: 700;
	color:white;
}
.female {
	width: 135px;
	height: 15px;
	font-weight: 700;
	color:white;	
}
h1{
	margin-left:10px;
}
.btn {
	font-weight: 700 !important;
	border-radius: 10px !important;
}
.well{
	height: 70px;
	border:none !important;
}
.well:hover {
	background-color:#52de97 !important;
	font-size: 20px !important;
}
label{
	font-weight: 700;
}

.center{
	text-align: center !important;
        width: 200px;
}
.hello{
    justify-content:center;
    align-items: center;
}
#OK{
    margin-top: 100px;
    margin-left: 100%;
}